@import 'src/shared/styles/variables';

.logo {
  height: 60px;
  position: absolute;
  left: 110px;
  z-index: 10;
}

@media (max-width: $md) {
  .logo {
    height: 50px;
    right: 70px;
    left: unset;
  }
}
