@import 'src/shared/styles/variables';

.container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 0;

  .breweries-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .loader {
    margin-top: 10%;
  }
}

@media (max-width: $lg) {
  .container {
    .breweries-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: $md) {
  .container {
    .breweries-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
