@import 'src/styles/variables';

.logo {
  height: 60px;
  position: absolute;
  left: 110px;
  z-index: 10;
}

.link {
  text-decoration: none;
  color: #fff;
  z-index: 100;
}

@media (max-width: $md) {
  .logo {
    height: 50px;
    right: 0;
    left: unset;
  }
}
